<script src="/public/scripts/tailwind.config.js"></script>
<div class="flex bg-primary-300 mt-20 w-full border-t border-primary-200">
    <div class="w-8/12 mx-auto">
        <div class="hidden lg:block w-auto my-20 mr-12">
            <div class="flex justify-content">
                <p class="font-bold text-white text-4xl justify-content">{{ client.config.SiteName }}<b class="text-sm font-bold text-gray-200">©️ 2022 - 2023</b></p>
            </div>
            <div class="justify-content">
                <a href="/privacy" class="ease-out duration-300 font-semibold text-xl text-primary-700 hover:text-gray-300 justify-content">Privacy Policy</a>
                <b class="text-gray-600 font-bold">-</b>
                <a target="_blank" href="{{ client.config.support }}" class="ease-out duration-300 font-semibold text-xl text-primary-700 hover:text-gray-300 justify-content">Discord</a>
                <b class="text-gray-600 font-bold">-</b>
                <a target="_blank" href="/support" class="ease-out duration-300 font-semibold text-xl text-primary-700 hover:text-gray-300 justify-content">Support</a>
            </div>
        </div>
    </div>
</div>
<p class="lg:hidden md:hidden text-white text-base font-semibold text-center p-5">{{ client.config.SiteName }} ©️ 2022 - 2023</p>